.ff0{
	font-family:sans-serif;
	visibility:hidden;
}
@font-face{
	font-family:ff1;
	src:url(f1.woff)format("woff");
}
.ff1{
	font-family:ff1;
	line-height:0.853027;
	font-style:normal;
	font-weight:normal;
	visibility:visible;
}
@font-face{
	font-family:ff2;
	src:url(f2.woff)format("woff");
}
.ff2{
	font-family:ff2;
	line-height:0.914551;
	font-style:normal;
	font-weight:normal;
	visibility:visible;
}
@font-face{
	font-family:ff3;
	src:url(f3.woff)format("woff");
}
.ff3{
	font-family:ff3;
	line-height:0.910156;
	font-style:normal;
	font-weight:normal;
	visibility:visible;
}
.m0{
	transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);
	-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);
	-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);
}
.v0{
	vertical-align:0.000000px;
}
.ls0{
	letter-spacing:0.000000px;
}
.sc_{
	text-shadow:none;
}
.sc0{
	text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em transparent;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.sc_{
		-webkit-text-stroke:0px transparent;
	}
	.sc0{
		-webkit-text-stroke:0.015em transparent;
		text-shadow:none;
	}
}
.ws0{
	word-spacing:0.000000px;
}
._0{
	width:36.000000px;
}
.fc0{
	color:rgb(0,0,0);
}
.fs0{
	font-size:48.000000px;
}
.y8{
	bottom:3.596000px;
}
.y23{
	bottom:5.530991px;
}
.yd{
	bottom:17.394999px;
}
.y22{
	bottom:19.329994px;
}
.y21{
	bottom:33.128998px;
}
.y20{
	bottom:84.874996px;
}
.y1f{
	bottom:98.673996px;
}
.y1e{
	bottom:112.472996px;
}
.y0{
	bottom:273.000000px;
}
.y1c{
	bottom:281.012979px;
}
.y1b{
	bottom:294.811990px;
}
.y1a{
	bottom:308.611001px;
}
.y19{
	bottom:322.410012px;
}
.y1d{
	bottom:336.865988px;
}
.y18{
	bottom:464.539010px;
}
.y17{
	bottom:492.137014px;
}
.y16{
	bottom:505.936013px;
}
.y15{
	bottom:533.534010px;
}
.y14{
	bottom:547.333010px;
}
.y13{
	bottom:561.132010px;
}
.y12{
	bottom:574.931008px;
}
.y11{
	bottom:602.529005px;
}
.y10{
	bottom:616.328005px;
}
.yf{
	bottom:630.127005px;
}
.ye{
	bottom:643.926003px;
}
.yc{
	bottom:681.727003px;
}
.yb{
	bottom:709.325003px;
}
.ya{
	bottom:723.124002px;
}
.y9{
	bottom:736.923002px;
}
.y7{
	bottom:750.722002px;
}
.y6{
	bottom:781.916001px;
}
.y5{
	bottom:823.312997px;
}
.y4{
	bottom:837.112000px;
}
.y3{
	bottom:864.657001px;
}
.y2{
	bottom:878.509000px;
}
.y1{
	bottom:896.447000px;
}
.h5{
	height:15.799000px;
}
.h6{
	height:29.598000px;
}
.h2{
	height:32.531250px;
}
.h4{
	height:33.328125px;
}
.h3{
	height:34.359375px;
}
.h7{
	height:136.699997px;
}
.h1{
	height:636.500000px;
}
.h0{
	height:936.000000px;
}
.w4{
	width:20.000000px;
}
.w5{
	width:38.000000px;
}
.w3{
	width:61.400002px;
}
.w6{
	width:164.000000px;
}
.w2{
	width:191.000000px;
}
.w7{
	width:213.850024px;
}
.w1{
	width:468.000000px;
}
.w0{
	width:612.000000px;
}
.x8{
	left:6.400000px;
}
.xd{
	left:42.150000px;
}
.x12{
	left:43.780999px;
}
.x0{
	left:61.500000px;
}
.x14{
	left:69.756000px;
}
.x9{
	left:72.699998px;
}
.x13{
	left:77.105998px;
}
.x11{
	left:79.099998px;
}
.x15{
	left:87.594996px;
}
.x16{
	left:97.256999px;
}
.xa{
	left:132.100000px;
}
.x2{
	left:146.798995px;
}
.xc{
	left:150.100000px;
}
.xf{
	left:155.599998px;
}
.x3{
	left:176.613995px;
}
.xe{
	left:196.099998px;
}
.x1{
	left:214.641998px;
}
.x4{
	left:295.146996px;
}
.xb{
	left:312.099992px;
}
.x7{
	left:348.099992px;
}
.x10{
	left:370.924995px;
}
.x6{
	left:385.760002px;
}
.x5{
	left:454.414009px;
}
@media print{
	.v0{
		vertical-align:0.000000pt;
	}
	.ls0{
		letter-spacing:0.000000pt;
	}
	.ws0{
		word-spacing:0.000000pt;
	}
	._0{
		width:48.000000pt;
	}
	.fs0{
		font-size:64.000000pt;
	}
	.y8{
		bottom:4.794666pt;
	}
	.y23{
		bottom:7.374654pt;
	}
	.yd{
		bottom:23.193333pt;
	}
	.y22{
		bottom:25.773326pt;
	}
	.y21{
		bottom:44.171997pt;
	}
	.y20{
		bottom:113.166662pt;
	}
	.y1f{
		bottom:131.565328pt;
	}
	.y1e{
		bottom:149.963994pt;
	}
	.y0{
		bottom:364.000000pt;
	}
	.y1c{
		bottom:374.683971pt;
	}
	.y1b{
		bottom:393.082653pt;
	}
	.y1a{
		bottom:411.481335pt;
	}
	.y19{
		bottom:429.880016pt;
	}
	.y1d{
		bottom:449.154651pt;
	}
	.y18{
		bottom:619.385347pt;
	}
	.y17{
		bottom:656.182686pt;
	}
	.y16{
		bottom:674.581351pt;
	}
	.y15{
		bottom:711.378680pt;
	}
	.y14{
		bottom:729.777346pt;
	}
	.y13{
		bottom:748.176013pt;
	}
	.y12{
		bottom:766.574678pt;
	}
	.y11{
		bottom:803.372007pt;
	}
	.y10{
		bottom:821.770673pt;
	}
	.yf{
		bottom:840.169340pt;
	}
	.ye{
		bottom:858.568005pt;
	}
	.yc{
		bottom:908.969337pt;
	}
	.yb{
		bottom:945.766670pt;
	}
	.ya{
		bottom:964.165337pt;
	}
	.y9{
		bottom:982.564003pt;
	}
	.y7{
		bottom:1000.962669pt;
	}
	.y6{
		bottom:1042.554668pt;
	}
	.y5{
		bottom:1097.750662pt;
	}
	.y4{
		bottom:1116.149334pt;
	}
	.y3{
		bottom:1152.876001pt;
	}
	.y2{
		bottom:1171.345333pt;
	}
	.y1{
		bottom:1195.262666pt;
	}
	.h5{
		height:21.065333pt;
	}
	.h6{
		height:39.463999pt;
	}
	.h2{
		height:43.375000pt;
	}
	.h4{
		height:44.437500pt;
	}
	.h3{
		height:45.812500pt;
	}
	.h7{
		height:182.266663pt;
	}
	.h1{
		height:848.666667pt;
	}
	.h0{
		height:1248.000000pt;
	}
	.w4{
		width:26.666667pt;
	}
	.w5{
		width:50.666667pt;
	}
	.w3{
		width:81.866669pt;
	}
	.w6{
		width:218.666667pt;
	}
	.w2{
		width:254.666667pt;
	}
	.w7{
		width:285.133366pt;
	}
	.w1{
		width:624.000000pt;
	}
	.w0{
		width:816.000000pt;
	}
	.x8{
		left:8.533333pt;
	}
	.xd{
		left:56.200000pt;
	}
	.x12{
		left:58.374666pt;
	}
	.x0{
		left:82.000000pt;
	}
	.x14{
		left:93.007999pt;
	}
	.x9{
		left:96.933331pt;
	}
	.x13{
		left:102.807997pt;
	}
	.x11{
		left:105.466665pt;
	}
	.x15{
		left:116.793329pt;
	}
	.x16{
		left:129.675999pt;
	}
	.xa{
		left:176.133333pt;
	}
	.x2{
		left:195.731994pt;
	}
	.xc{
		left:200.133333pt;
	}
	.xf{
		left:207.466665pt;
	}
	.x3{
		left:235.485326pt;
	}
	.xe{
		left:261.466665pt;
	}
	.x1{
		left:286.189331pt;
	}
	.x4{
		left:393.529327pt;
	}
	.xb{
		left:416.133323pt;
	}
	.x7{
		left:464.133323pt;
	}
	.x10{
		left:494.566661pt;
	}
	.x6{
		left:514.346670pt;
	}
	.x5{
		left:605.885345pt;
	}
}
