<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .p-center {
            text-align: center;
        }

        .p-bold {
            font-weight: bold;
        }

        .p-justify {
            text-align: justify;
        }

        .p-kanan {
            text-align: right;
        }

        .p-kiri {
            text-align: left;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="p-bold">
        <div class="p-kiri">
            <img src="/img/kominfo.png" alt="" width="100">
        </div>
        <div class="p-center">
            <p> KABUPATEN TULUNGAGUNG
                <br>
                DINAS PENDAPATAN, PENGELOLA KEUANGAN DAN ASET DAERAH
                <br>
                Jalan &hellip;&hellip;&hellip;&hellip; No.
                &hellip;&hellip;&hellip;&hellip;&hellip;.Telepon &hellip;&hellip;&hellip;&hellip;.. Fax
                &hellip;&hellip;&hellip;.
                &nbsp;
                <br>
                TULUNG AGUNG
            </p>
        </div>
    </div>
    <hr />
    <p>&nbsp;</p>
    <p style="text-align: right;">&nbsp;Tulungagung, &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..
    </p>
    <p>&nbsp;</p>
    <table style="width: 924px;">


        <tbody>
            <tr style="height: 35.4px;">
                <td style="width: 41px; height: 35.4px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 10px; height: 35.4px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 563px; height: 35.4px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 10px; height: 35.4px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 338px; height: 35.4px;">
                    <p>Kepada</p>
                </td>
            </tr>
            <tr style="height: 4px;">
                <td style="width: 41px; height: 4px;">
                    <p>Nomor</p>
                </td>
                <td style="width: 10px; height: 4px;">
                    <p>:</p>
                </td>
                <td style="width: 563px; height: 4px;">
                    <p>&nbsp;mmmmm</p>
                </td>
                <td style="width: 10px; height: 4px;">
                    <p>Yth.</p>
                </td>
                <td style="width: 338px; height: 4px;">
                    <p>mmmmmmmmmmm</p>
                </td>
            </tr>
            <tr style="height: 35px;">
                <td style="width: 41px; height: 35px;">
                    <p>Sifat</p>
                </td>
                <td style="width: 10px; height: 35px;">
                    <p>:</p>
                </td>
                <td style="width: 563px; height: 35px;">
                    <p>&nbsp;mmmmmmm</p>
                </td>
                <td style="width: 10px; height: 35px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 338px; height: 35px;">
                    <p>di -</p>
                </td>
            </tr>
            <tr style="height: 35px;">
                <td style="width: 41px; height: 35px;">
                    <p>Lampiran</p>
                </td>
                <td style="width: 10px; height: 35px;">
                    <p>:</p>
                </td>
                <td style="width: 563px; height: 35px;">
                    <p>&nbsp;mmmmmmm</p>
                </td>
                <td style="width: 10px; height: 35px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 338px; height: 35px;">
                    <p>mmmmmmmmmmmm</p>
                </td>
            </tr>
            <tr style="height: 34px;">
                <td style="width: 41px; height: 34px;">
                    <p>Perihal</p>
                </td>
                <td style="width: 10px; height: 34px;">
                    <p>:</p>
                </td>
                <td style="width: 563px; height: 34px;">
                    <p>Mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>
                </td>
                <td style="width: 10px; height: 34px;">
                    <p>&nbsp;</p>
                </td>
                <td style="width: 338px; height: 34px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>Mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.
    </p>
    <p>&nbsp;</p>
    <p>Mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.
    </p>
    <p>&nbsp;</p>
    <p>Mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm.</p>
    <table>
        <tbody>
            <tr>
                <td width="406">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td width="340">
                    <table style="width: 181.529%;">
                        <tbody>
                            <tr>
                                <td style="width: 58.731%;">&nbsp;</td>
                                <td style="width: 137.269%;">
                                    <p>&nbsp;</p>
                                    <p>Kepala Dinas Pendapatan, Pengelolaan Keuangan dan</p>
                                    <p>Aset Daerah</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <h4>NAMA JELAS</h4>
                                    <p>Pangkat</p>
                                    <p>NIP</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                </td>
                                <td style="width: 108%;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Tembusan :</p>
    <ol>
        <li>Mmmmmmmmmmmm</li>
        <li>Mmmmmmmmmmmm</li>
        <li></li>
    </ol>
    <table>
        <tbody>
            <tr>
                <td width="0">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</body>

</html>